

.card {
    border-radius: 100px;
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.75);
    padding: 16px;
}

.text-container {
    overflow: hidden; 
}

.card-img-top {
    border-radius: 100px;
}

.card-title {
    padding-left: 50px;
}

.card-text {
    padding-left: 50px;
}

.btn-shift-left {
    margin-right: 30px;
    border-radius: 100px;
}

.card-title, .card-price {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 4px; 
}

.add-to-order {
    align-self: center;
    margin-top: auto;
    border-radius: 100px;
}

.col-md-4 {
    padding: 30px; 
}

.custom-button-taco {
    width: 1000px; 
    margin: 0 auto; 
    display: block; 
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.75);
    background: linear-gradient(to right, #f0b30c, rgb(240, 202, 131));
    font-size: 20px;
}

.custom-button-order {
    width: 1000px; 
    margin: 0 auto; 
    display: block; 
    box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.75);
    background: linear-gradient(to right, #f89a9a, rgb(233, 116, 38));
    font-size: 20px;
}

.custom-bottom-margin {
    margin-bottom: 50px;
}
