body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    color: black;
  }

  .custom-input {
    width: 100%;    
    margin: 0;
  }

  .register-container {
    width: 100%; 
    max-width: 600px; 
    margin-top: 150px;
    padding: 30px; 
    text-align: center;
    font-size: 1.25rem; 
    box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
    border-radius: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background: linear-gradient(to bottom, rgb(255, 147, 97), #ffffff);
    border-color: rgb(255, 189, 159);
    border-width: 1cm;
    border-style: solid;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 70px;
    background: linear-gradient(to bottom, #ffffff, rgb(255, 147, 97));
    border-color: rgb(255, 189, 159);
    border-width: 1mm;
    border-style: solid;
  }

  .small-card {
    height: 2rem;
  }

  .card-title-small-text {
    font-size: 10px;
  }
  
  .custom-alert {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    background: rgb(255, 80, 80);
  }
  
  .custom-input, .custom-alert {
    align-self: flex-start;
  }

