<body>
    <br/>
    <br/>

    <div class="container-fluid text-center">
        

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 custom-top-margin custom-bottom-margin">
                    <div class="card bg-light custom-shadow card-order">
                        <div class="card-body">
                            <h4 class="card-title-custom">Jump to your order by clicking below</h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <a class="nav-link" [routerLink]="['/order']">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow custom-image-secondary" src="assets/images/order-home.jpg"/>
                    </a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 custom-top-margin-main">
                    <div class="card bg-light custom-shadow card-order">
                        <div class="card-body">
                            <h4 class="card-title-custom">Welcome to Taco Bytes<br>Create your taco by pressing below</h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <a class="nav-link custtom-bottom-padding" [routerLink]="['/design/taco']">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow custom-image-secondary " src="assets/images/TacoCloud.jpg"/>
                    </a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 custom-top-margin custom-bottom-margin">
                    <div class="card bg-light custom-shadow card-drink">
                        <div class="card-body">
                            <h4 class="card-title-custom">Order some drinks by clicking below</h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <a class="nav-link" [routerLink]="['/drinks/selection']">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow custom-image-secondary" src="assets/images/drinks-transition-photo-home.jpg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
    
    </footer>
</body>

