<!-- home.component.html -->
<body>
    <br/>
    <br/>

    <div class="container-fluid text-center">
        <div class="d-flex justify-content-center align-items-center mt-5 custom-custom">
            <div class="card text-black bg-warning mb-3 custom-shadow" style="max-width: 30rem;">
              <div class="card-body">
                <h4 class="card-title">Welcome to Taco Cloud</h4>
                <p class="card-text">Click below to make your taco! Choose your ingredients and design your perfect taco.</p>
              </div>
            </div>
        </div>
          

        <br/>
        <br/>
        <br/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a class="nav-link" [routerLink]="['/login']">
                        <div class="card bg-light mb-3 custom-shadow" style="max-width: 40rem;">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h4 class="card-title">Login</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <a class="nav-link" [routerLink]="['/design/taco']">
                        <img class="img-fluid img-responsive rounded-circle custom-shadow" src="assets/images/TacoCloud.jpg"/>
                    </a>
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                    <a class="nav-link" [routerLink]="['/register']">
                        <div class="card bg-light mb-3 custom-shadow" style="max-width: 40rem; max-height: 50rem;">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h4 class="card-title">Register</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
    
    </footer>
</body>

