body {
    background-image: url("/assets/images/small-tacos.png");
    
    opacity: 1;
    min-height: 120vh;
}

body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    color: black;
    height: 100vh; /* Use the full height of the viewport */
}

.change-container {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Center vertically inside the container */
    align-items: center; /* Center horizontally inside the container */
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
    border-radius: 100px;
    background: linear-gradient(to bottom, rgb(255, 200, 97), #ffffff);
    background: linear-gradient(to bottom, rgb(255, 146, 103), #ffffff);
    border-color: rgb(255, 146, 103);
    border-width: 1cm;
    border-style: solid;
}


.card {
    /* Ensure no other alignments are conflicting */
    margin: 0 auto; /* Center the card within the .login-container */
    background: linear-gradient(to bottom, #ffffff,  rgb(255, 146, 103));
    color: black;
    border-radius: 70px;
    border-color: rgb(226, 109, 62);
    border-width: 1mm;
    border-style: solid;
    
    /* Remove fixed width to allow auto margins to work */
    /* width: 12rem; */
    
    /* Ensure card is a flex container if it needs to align its children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* Add padding if the card content is not spaced out */
}

.error-message {
    font-size: 1.25rem; /* Larger error message text */
}
  
.custom-alert {
    background: rgb(255, 80, 80);
}
  