body, html {
  height: 100%;
  margin: 0; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  font-family: sans-serif;
}

.login-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto; 
  padding: 30px;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
  border-radius: 100px;
  background: linear-gradient(to bottom, rgb(255, 200, 97), #ffffff);
  border-color: rgb(255, 236, 200);
  border-width: 1cm;
  border-style: solid;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  margin: 0 auto; 
  background-image: linear-gradient(to bottom, #ffffff, rgb(255, 200, 97));
  color: black;
  border-radius: 70px;
  border-color: rgb(255, 236, 200);
  border-width: 1mm;
  border-style: solid;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 1.5rem; 
}

.col-form-label-lg {
  font-size: 1.5rem; 
}

.form-control-lg {
  font-size: 1.25rem;
  padding: .5rem 1rem; 
  height: auto; 
}

.btn-lg {
  padding: .5rem 1rem; 
  font-size: 1.25rem;
  width: 70%;
}

.error-message {
  font-size: 1.25rem; 
}

.custom-alert {
  background: rgb(255, 80, 80);
}
