body, html {
  height: 100%;
  margin: 0; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  color: black;
  font-family: sans-serif;
}

.card {
  background-image: linear-gradient(to bottom, #ffffff, rgb(255, 200, 97)); 
  width: 20rem; 
  color: black;
  border-radius: 70px;
  border-color: rgb(255, 236, 200);
  border-width: 1mm;
}


.content-container {
  text-align: center;
  width: 100%; 
  max-width: 40rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
  border-radius: 100px;
  background: linear-gradient(to bottom, #ffffff, rgb(255, 200, 97));
  border-color: rgb(255, 236, 200);
  border-width: 1cm;
  border-style: solid;
}

.custom-card {
  border-color: rgb(255, 200, 97);
}

.container {
  padding-top: 4rem; 
}

h2 {
  margin-top: 10px; 
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
}

.container.mt-4 {
  margin-top: 0.5rem !important;
}

.container > h2:first-child {
  margin-top: 0 !important; 
}

.form-control {
  width: 300px;
}

.custom-alert {
  width: 80%;
  margin: 0 auto;
  background: rgb(255, 80, 80);
}

.custom-button {
  color: black;
  background-color: rgb(255, 200, 97);
}

.card-order {
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(247, 180, 104), #e0c57b);
  border-color: rgb(196, 182, 135);
  border-width: 1mm;
  border-style: solid;
  min-width: 100px;
}

.custom-width {
  width: 70%;
}

.custom-shadow {
  box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
}

.custom-top-margin {
  margin-top: 200px;
}

.custom-top-margin-main {
  margin-top: 100px;
}

.card-title-custom {
  font-size: 18px;
  text-align: center;
}

.card-drink {
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(187, 185, 185), #a3a3a3);
  border-color: rgb(141, 142, 145);
  border-width: 1mm;
  border-style: solid;
  min-width: 100px;
}