body, html {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  color: black;
  height: 100vh; /* Use the full height of the viewport */
}

.login-container {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Center vertically inside the login-container */
  align-items: center; /* Center horizontally inside the login-container */
  width: 100%;
  max-width: 400px;
  margin: auto; /* Ensure auto margin for all sides */
  padding: 30px;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.75);
  border-radius: 100px;
  background: linear-gradient(to bottom, rgb(255, 200, 97), #ffffff);
  border-color: rgb(255, 236, 200);
  border-width: 1cm;
  border-style: solid;
  /* Removed margin-top to use margin: auto instead */
}

.card {
  /* Ensure no other alignments are conflicting */
  margin: 0 auto; /* Center the card within the .login-container */
  background-image: linear-gradient(to bottom, #ffffff, rgb(255, 200, 97));
  color: black;
  border-radius: 70px;
  border-color: rgb(255, 236, 200);
  border-width: 1mm;
  border-style: solid;
  
  /* Remove fixed width to allow auto margins to work */
  /* width: 12rem; */
  
  /* Ensure card is a flex container if it needs to align its children */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Add padding if the card content is not spaced out */
}



.form-group {
  margin-bottom: 1.5rem; /* Increase space between form groups */
}

.col-form-label-lg {
  font-size: 1.5rem; /* Larger label text */
}

.form-control-lg {
  font-size: 1.25rem; /* Larger input text */
  padding: .5rem 1rem; /* Larger padding inside inputs */
  height: auto; /* Adjust height if necessary */
}

.btn-lg {
  padding: .5rem 1rem; /* Larger padding for button */
  font-size: 1.25rem; /* Larger button text */
  width: 70%; /* Makes the button fill the width of its parent container */
}

.error-message {
  font-size: 1.25rem; /* Larger error message text */
}

.custom-alert {
  background: rgb(255, 80, 80);
}
