<body>
    <div class="admin-container">
        <br/>

        <div class="card bg-light custom-shadow">
            <div class="card-body">
                <h4 class="card-title">Search by inserting a valid username</h4>
            </div>
        </div>
  
        <br/>
        <br/>

        <input class="form-control form-control-lg custom-input" type="text" id="insertedUsername" [(ngModel)]="insertedUsername" name="insertedUsername" required>
        
        <br/>
        <br/>

        <button (click)="getUserByUsername()" class="btn btn-primary custom-button">Search for user</button>

        <br/>
        <br/>

        <div *ngIf="selectUserError" >
            <div class="alert alert-danger custom-alert">{{ selectUserError }} </div>
            <br/> 
            <br/> 
        </div>
        <div class="user-details" *ngIf="selectedUser != null">
            <div class="detail-pair">
                <div class="detail-item">
                    <span class="detail-header">Username:</span>
                    <span class="detail-value">{{ selectedUser.username }}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-header">Full Name:</span>
                    <span class="detail-value">{{ selectedUser.fullname }}</span>
                </div>
            </div>
            <div class="detail-pair">
                <div class="detail-item">
                    <span class="detail-header">Phone Number:</span>
                    <span class="detail-value">{{ selectedUser.phoneNumber }}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-header">Delete Button:</span>
                    <button class="btn btn-primary delete-btn" (click)="deleteSelectedUser(selectedUser.username)">Delete</button>
                </div>
            </div>
        </div>
        
    </div>
</body>